<div class="container" id="boxes">
    <div class="row flex" >
        {{#each boxes}}
        <div class="col ">
            <div class="card box-card z-depth-0">
                    <div class="card-image">
                        <img class="box-zoom" src="img/boxes/{{this.image}}" 
                            style="
                                top:-30px;
                                height:auto;
                                width:auto;
                                max-height:240px;
                                display: block;
                                margin: 0 auto;
                                "
                            >
                    </div>
                    <div class="card-content box-card-content" style="padding:18px;">
                        
                        <span>
                            {{this.name}}
                        </span>
                        <br/>     
                        {{#if this.salesPrice}}
                        <div class="prices">
                            <span id="realPrice">
                            {{this.price}} $
                            </span>
                            <span id="salePrice">
                            {{this.salesPrice}} $
                            </span>
                        </div>
                        {{else}}
                            <span>
                            {{this.price}} $
                            </span>
                        {{/if}}
                        
                       
                    </div>
                    <a href="boxes/{{this.name}}" class="waves-effect waves-light btn unbox-btn" style="position: absolute; top: 205px; left: 0px; background: linear-gradient(to right, #293544, #1c3c53, #09161f);">UNBOX</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>