<div class="col">
    <div class="card transparent z-depth-0" style="height: 300px; width: 300px;">
        <div class="card-image itemhover" onclick="openModal(convert(`{{name}}`),'{{price}}','{{image}}',convert(`{{description}}`), {{box}})" style="height: 100%;">
            <img class="zoom" src="{{image}}" alt="{{name}}" style="padding-top:10px; height: auto; width: auto; max-width: 90%; max-height: 80%; display:block; margin:auto; z-index:3"/>
        </div>
        <div class="percentage card-image" style="height: 100%; display:none;">
            <img src="/img/image/belo cisto za sad.png" alt="white pure" style="padding-top:20px; top:-335px; left:-80px; height: 95%; width: 150%;  max-height: 100%; display:block; margin:auto; z-index:6" />
            <span style="font-family: Russo One;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 20px;
                position: absolute;
                top:-205px;
                left:120px;
                z-index:7;
            ">
            {{!-- % {{winChances}} --}}
            % ?
            </span> 
        </div>
        <div class="card-content" style="position: absolute; bottom: -20px;  width: 100%; text-align: center; z-index:4;">
        
            <span style="font-family: Russo One;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 20px;
            ">
                {{name}}
            </span>
            <br/>
            <span style="font-family: Russo One;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 20px;
            ">
            $ {{price}}
            </span>

        </div>
    </div>
</div>